#menu ul {
  padding: 0;
  background: #000;
  font-size: 0;
}
#menu ul li {
  list-style: none;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  -o-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
}
#menu ul li p {
  -o-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  color: #fff;
  margin: 10px 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
}
#menu ul li:hover {
  font-size: 18px;
}
#menu ul li:hover p {
  color: #6090d0;
  -o-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
}
#menu figure {
  margin: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
}
#menu figure img {
  margin-top: 10px;
  width: 80%;
}
