@import 'normalize.styl'
@import 'color.styl'
@import 'mixins.styl'

header
	background $verde_fuerte
	color white

	span
		color rgba($amarillo)
		
#contenido
	estilo_principal(20,5)
	.link 
		font-size 16px
		color green
		text-decoration none
#contenido2
	estilo_principal(22,5)
		